e<div class="toolbar" role="banner">
  <img width="40" alt="McDonalds Logo" src="assets/McD-squareLogo.png" />
  <span>Whats For Lunch?</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <h2>Where Should I Eat?</h2>
  <p>Let your fate be decided by the algorithm or pick the correct answer:</p>

  <div class="card-container">
    <a class="card" (click)="randomRestaurant(restaurants)">
      <span>Random</span>
    </a>
    <a class="card" (click)="correctAnswer()">
      <span>The Correct Answer</span>
    </a>
  </div>

  <h2 *ngIf="showFood">You should eat at <span class="restaurant">{{ theChosenOne }}</span></h2>
  <img *ngIf="theChosenOne == 'McDonalds'" src="assets/ronald.jpeg" class="ronald">

  <div *ngIf="showFood" class="card-container">
    <a class="card" href="slack://channel?team=TT1T37BHD&id=CSNQD8KS7">
      <span>Start a Lunch Train</span>
    </a>
    <a class="card" target="_blank" href="https://www.google.ca/maps/search/{{ theChosenOne }}">
      <span>Get Directions</span>
    </a>
    <a class="card" target="_blank" href="https://www.skipthedishes.com">
      <span>Get it Delivered</span>
    </a>
  </div>

  <footer>
    <p>I hope I don't get fired for wasting the hackathon making this.</p>
  </footer>
</div>

<router-outlet></router-outlet>
